<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse"  ng-switch="vm.isAuthenticated()">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Test User</strong>
                             </span>
                                <span class="text-muted text-xs block">IT department<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li ng-class="{active: vm.$state.includes('entity')}" uib-dropdown dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="role" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.role">Role</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="test" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.test">Test</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
        </ul>

    </div>
</nav>
