<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= baseName %></title>
  <meta name="viewport" content="width=device-width">
  <!-- build:css content/css/vendor.css -->
  <!-- bower:css -->
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:css content/css/main.css -->
  <link rel="stylesheet" href="content/css/main.css">
  <!-- endbuild -->
</head>
<body ng-app="<%= angularAppName %>" ng-strict-di>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<page-ribbon></page-ribbon>
<div ui-view="navbar" ng-cloak></div>
<div class="container">

   <div class="well" ui-view="content"></div>

  <div class="footer" ng-cloak>
    <p data-translate="footer">This is your footer</p>
    <strong>ff</strong>
  </div>

</div>

<!-- build:js app/vendor.js -->
<!-- bower:js -->
<!-- endinject -->
<!-- endbuild -->

<!-- build:js app/app.js  -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
